<?xml version="1.0"?>
<model>

	<name>whiskeye_black_cylinder</name>
	<version>1.0</version>

	<sdf version="1.5">whiskeye_black_cylinder.sdf</sdf>

	<author>
		<name>Ratmin</name>
		<email>martin.pearson@brl.ac.uk</email>
	</author>

	<description>Cylinder object in the BRL rif</description>

</model>

