<?xml version="1.0"?>

<model xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.humanbrainproject.eu/SP10/2017/environment_model_config" xsi:schemaLocation="http://schemas.humanbrainproject.eu/SP10/2017/environment_model_config ../environment_model_configuration.xsd">
  <name>Whiskeye Holodeck</name>
  <maturity>production</maturity>
  <thumbnail>thumbnail.png</thumbnail>
  <sdf version="1.5">whiskeye_holodeck.sdf</sdf>

  <author>
    <name>Human Brain Project neurorobotics group</name>
    <email>bbp-dev-neuroroboticsplatform@groupes.epfl.ch</email>
  </author>

  <description>
    A room extending the Display Wall's room of the Lausanne offices beyond the display screen.
  </description>
</model>
