<?xml version="1.0"?>
<model>

	<name>Background</name>
	<version>1.0</version>

	<sdf version="1.5">Background.sdf</sdf>

	<author>
		<name>Tom</name>
		<email>tom.knowles@brl.ac.uk</email>
	</author>

	<description>Pseudo-background projecting a panoramic HDR image onto the interior of a sphere</description>

</model>

